html, body {
    font-size: 16px;
        background: rgba(65, 66, 68, 0.964);
        background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.container {
    width: 90%;
    transition: width 1s;
    max-width: 90rem;
    margin: 1rem auto;
    padding: 1rem;
    background: white;
    box-sizing: border-box;
}

.product {
    position: relative;
    padding: 1rem;
    border: 1px solid #c6c6c6;
    border-radius: .3rem;
    box-sizing: border-box;
    background: white;
    transition: transform .3s;
}

.product:hover {
    cursor: pointer;
    transform: scale(1.05);
    z-index: 1;
}

.add-to-cart {
    position: absolute;
    right: 2rem;
    bottom: 4rem;
    cursor: pointer;
    padding: .3rem;
    display: inline-block;
}

.price {
    font-size: 1.5rem;
}

